@media (max-width: 768px) {
    #todoResultado{
    order:6;
    }
    #cabecalho{
        padding:0px !important;
    }
    #form{
        padding: 0px !important;
    }
    #todoResultado{
        padding: 10px !important;
    }
}

@media (max-width: 992px){
    p{
      font-size: 12px;  
    }
    h1{
        font-size: 24px;
    }
}

*{
    padding: 2px
}
.row{
    margin: 1px;
    padding: 1px;
}